.DS_Store
/rank_preserving_calibration.egg-info
/rank_preserving_calibration/__pycache__
/.venv
/dist
/test_env
/tests/__pycache__

# Documentation build artifacts
docs/_build/
/.hypothesis
.mypy_cache/
.pytest_cache/
.ruff_cache/
/ms/experiments/__pycache__
ms/kl_theory.log
ms/ms.aux
ms/ms.bbl
ms/ms.blg
ms/ms.log
ms/ms.out
